
body {
  background: linear-gradient(-10deg, #bbc8ff, #fff);
  min-height: 100vh;
  font-size: 18px;
}

.text {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  /* margin: 0 0 0 0; */
  justify-content: space-evenly;
  font-family: 'Dancing Script', cursive;
  /* background: rgba(219, 222, 255, 0.7); */
  font-size: 50px;
  font-weight: bold;
  /* text-decoration: black underline; */

}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  text-decoration: #dbdeff underline;
  list-style-type: none;
  flex-basis: 25%;
  width: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
}

.yum {
  height: 95%;
  widows: 95%;
}

.cakecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  flex-grow: 1;
}

.cakepix {
  border: black solid;
  display: flex;
  /* border: rgba(219, 222, 255, 0.7) */
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  /* height: 200px;
  width: 200px; */
  justify-content: space-around;
  align-items: center;
  max-width: 226px;
  min-width: 226px;
  min-height: 226px;
  max-height: 226px;
  background-color: white;
  position: relative;
}

.caketext {
  /* align-items: center; */
  display: flex;
font-family: 'Dancing Script', cursive;
position: absolute;
bottom: 15px;
font-size: 25px;
background-color: #f2f2f2;
width: 100%;
position: absolute;
}

.cakes {
  max-width: 226px;
  min-width: 226px;
  min-height: 226px;
  max-height: 226px;
}

.cakes:hover {
  opacity: 0.2;
  transition: .4s;

}

.textcontainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  position: center;
}

.infotext {
  border: solid;
  padding: 5px;
  display: flex;
  /* max-width: 226px;
  min-width: 226px; */
  /* min-height: 226px; */
  /* max-height: 226px; */
  align-items: center;
  justify-content: center;
  flex-grow: 4;
  width: 80%;
}
