body {
  background: linear-gradient(-10deg, #bbc8ff, #fff);
  min-height: 100vh;
  font-size: 18px;
}

.text {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  justify-content: space-evenly;
  background: rgba(219, 222, 255, 0.7);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  /* border: 1px solid #dbdeff; */
  text-decoration: #dbdeff underline;
  list-style-type: none;
  flex-basis: 25%;
  width: auto;
}

.yum {
  height: 95%;
  widows: 95%;
}

.cakecontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}



.cakepix {
  border: black solid;
  /* border: rgba(219, 222, 255, 0.7) */
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  height: 200px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.infotext {
  flex-basis: 25%;
  border: solid;
}
